<div class="box hero">
    <img src="../../../../../../../assets/bper-svg/Icon-24pt-Error_Circle.svg" alt="Errore">

    <div class="sub-title">
        Il servizio non è al momento disponibile
    </div>

    <div class="description">
        Torna più tardi per completare Il processo di apertura della tua nuova utenza. Siamo al lavoro per fornirti un
        servizio migliore. Per informazioni puoi contattare i nostri consulenti online.
        <br><br>
    </div>

    <div class="servizio__clienti">
        <span class="title__servizio__clienti">Consulenti online</span>
        <span class="description__servizio__clienti">
            059 42 42
        </span>
    </div>

    <div class="button-wrapper">
        <button (click)="goToBank()" class="button__container">
            <span>Torna alla tua area BPER</span>
        </button>
    </div>
</div>