<swb-loader></swb-loader>

<!-- App base struct -->
<div id="main">
  <main id="body">
    <ng-container *ngIf="breadcrumbService.hasBreadcrumbs$ | async">
      <npm-core-breadcrumb></npm-core-breadcrumb>
    </ng-container>

    <header id="header" [class.expanded]="isHeaderExpanded">
      <ark-header></ark-header>
    </header>

    <div class="app-route">
      <router-outlet></router-outlet>
    </div>

    <div class="box-title" style="position: absolute;bottom: 0;">
      <div class="bper-c-footer col-12 col-xs-4">
        <div>
          <p>BPER Banca - P.I. 01153230360</p>
        </div>
      </div>
    </div>
    <ng-container>
      <cobrowsing></cobrowsing>
    </ng-container>

  </main>

</div>


<!-- <footer id="footer">
    <ark-footer></ark-footer>
    <cobrowsing></cobrowsing>
</footer> -->