<mat-form-field
    class="matField"
    [class.left-icon]="iconLeft !== ''"
    fxFlex="100%"
    [appearance]="appearance"
    [floatLabel]="floatLabelNever ? 'never' : 'always'"
    [hideRequiredMarker]="true"
>
    <mat-label>{{ label }}</mat-label>
    <i
        class="left"
        *ngIf="iconLeft !== ''"
        [class]="'bper-ic-' + iconLeft"
    ></i>
    <input
        class="text"
        #inputPassword
        matInput
        [placeholder]="placeholder"
        type="password"
        [formControl]="control"
        (focus)="control.patchValue(currentValue, { emitEvent: false, onlySelf: true })"
        (blur)="control.patchValue(currentValue)"
        (change)="validateInput($event)"
        [minlength]="minLength"
        [maxlength]="maxLength"
        [required]="required"
        [id]="inputId"
        [name]="name"
        autocomplete="off"
    />
    <i
        *ngIf="success"
        matSuffix
        class="success-icon icon-ic-conferma"
    ></i>
    <i
        *ngIf="control.hasError('notCorrect')"
        matSuffix
        class="failure-icon icon-ic-chiusura"
    ></i>
    <mat-error
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="control.hasError('required')"
    >
        <i [class]="errorIcon"></i>
        <span>{{ 'INVALIDATIONS.CAMPO_OBBLIG' | translate }}</span>
    </mat-error>
    <mat-error
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="!control.hasError('required') && control.hasError('minlength')"
    >
        <i [class]="errorIcon"></i>
        <span>{{ msgMinLength }}</span>
    </mat-error>
    <mat-error
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="!control.hasError('required') && control.hasError('notCorrect')"
    >
        <i [class]="errorIcon"></i>
        <span>{{ failureMsg }}</span>
    </mat-error>
</mat-form-field>
