$lightBlue: $lightBlue;
$stepsTotal: 5;
$circle-diameter: 35px;
$circle-border-width: 3px;
$circle-background-color: #fff;
$circle-border-color-remaining: #ccc;
$circle-border-color-elapsed: $lightBlue;