<ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'conto'">
        <div class="bper-card-skeleton --{{type}}">
            <div class="skeleton-animation"></div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'payment'">
          <div class="bper-card-skeleton --{{type}}">
              <div class="skeleton-animation"></div>
          </div>
    </ng-container>

    <ng-container *ngSwitchCase="'payment-small'">
         <div class="bper-card-skeleton --{{type}}">
             <div class="skeleton-animation"></div>
         </div>
    </ng-container>
</ng-container>
