<div class="warning-strip-container" *ngIf="showStrip" @showHide (@showHide.done)="onAnimationEnd($event)">
    <div class="warning-strip-text-container">
        <p class="warning-strip-text">
            <strong>{{ title }}</strong
            >: {{ message }}
        </p>
    </div>
    <div class="warning-strip-button-container">
        <button type="button" class="warning-strip-button" title="dismiss" (click)="hideStrip()">
            <svg class="warning-strip-button-icon" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            </svg>
        </button>
    </div>
</div>
