@import "src/scss/variables";

div.box {
    &.hero {
        width: 456px;
        display: flex;
        min-height: 434px;
        padding: 40px 30px;
        position: relative;
        background: #ffffff;
        border-radius: 24px;
        flex-direction: column;
        align-items: center;
    }
}

img {
    display: flex;
    width: 90px;
    margin-top: -20px;
}

.sub-title {
    font-size: 22px;
    font-weight: bold;
    color: map-get($bper-palette, primary, --primary-500);
    padding-bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    padding-top: 1rem;
}

.description {
    color: map-get($bper-palette, primary, --primary-100);
    text-align: center;
}

.button-wrapper {
    position: absolute;
    bottom: 20px;
}

span.box-title {
    min-height: 2px;
    display: flex;
    align-items: center;
    margin-top: -35px;
    margin-bottom: 5px;
    color: map-get($bper-palette, primary, --primary-500);
    font-weight: bold;
    font-size: 25px;
}

// MOBILE
@media screen and (max-width: $bp-mobile) {
    div.box.hero {
        width: 95%;
        margin: 0 auto;
    }
}
