<bper-modal modal-title="Conferma il tuo accesso" imageSrc="assets/bper-svg/Illustrazione_autorizza_operazione.svg"
    [hasLeftImage]="true" class="conferma-accesso">
    <div>
        <p>Abbiamo inviato una notifica sul tuo cellulare associato tramite Smart Banking.</p>
        <p class="sublabel">Visualizza e autorizza per procedere.</p>
    </div>

    <div footer>
        <bper-button order="ghost-accent" [label]="'Non ti è arrivata la notifica?'" (clickBtn)="onNotificaNonArrivata()"></bper-button>
        <div class="img-counter-container">
            <img src="assets/bper-svg/Icon-notification.svg" class="img-counter" />
            <span class="scadenza">Scade tra <br /><span class="counter">{{expireIn}}</span> sec.</span>
        </div>
    </div>
</bper-modal>
