<div class="header-structure" [class.expanded]="isExpanded">
  <div class="bper-c-header">
    <div class="header-primary">
      <div class="header-primary-logo">
        <img style="height: 50%; padding: 64px 0;"
          src="../../../../assets/bcp-logo/logo-BCP.svg" alt="logo" />
      </div>
    </div>

    <div (click)="openAiuto()" class="container__serve__aiuto">
      <img src="../../../../assets/bper-svg/logo_serve_aiuto.png" class="image" alt="">
      <span class="description">Serve aiuto?</span>
    </div>
  </div>
</div>