<ng-container>
    <bper-ofm-modal [modal-title]="modalTitle" [hasLeftImage]="false">
        <div class="pdf-container">
            <pdf-viewer [src]="url" [render-text]="true" [original-size]="false" (error)="showError($event)"
                (on-progress)="progressLoad($event)">
            </pdf-viewer>
            <div class="loading" *ngIf="(loadingCounter < 100)">
                Caricamento ... {{loadingCounter.toFixed(0)}}%
            </div>
            <ng-container *ngIf="(error$ | async) as error">
                <errore-caricamento-dati class="col-6" [label]="error?.message"></errore-caricamento-dati>
            </ng-container>
        </div>

        <div footer>
            <div class="button">
                <bper-ofm-button [class.mr-auto]="hidePrimaryBtn" (clickBtn)="onDownloadPdf()" [disabled]="!url"
                    [label]="secondaryCtaLabel" order="secondary-accent"></bper-ofm-button>
            </div>
            <bper-ofm-button *ngIf="!hidePrimaryBtn" (clickBtn)="onConfirm()" [label]="primaryCtaLabel" order="primary">
            </bper-ofm-button>
        </div>
    </bper-ofm-modal>
</ng-container>