.mr-auto {
  margin-right: auto;
}

.loading {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  top: 50%;
  display: inline-block;
}

.pdf-container {
  min-width: 330px;
  //min-height: 451px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column-reverse;
  margin-bottom: 10px;

  pdf-viewer {
    min-width: 330px;
    min-height: 310px;
    width: 100%;
    height: 100%;

    ::ng-deep .ng2-pdf-viewer-container {
      overflow-x: hidden !important;
    }
  }
}
.button{
  margin-bottom: 20px;
}