// Material - Variables
$bper-primary: map-get($map: $bper-palette, $key: primary);
$mat-bper-palette-primary: (
    50: map-get($map: $bper-primary, $key: --primary-20),
    100: map-get($map: $bper-primary, $key: --primary-40),
    200: map-get($map: $bper-primary, $key: --primary-60),
    300: map-get($map: $bper-primary, $key: --primary-80),
    400: map-get($map: $bper-primary, $key: --primary-100),
    500: map-get($map: $bper-primary, $key: --primary-400),
    600: map-get($map: $bper-primary, $key: --primary-500),
    700: map-get($map: $bper-primary, $key: --primary-600),
    800: map-get($map: $bper-primary, $key: --primary-600),
    900: map-get($map: $bper-primary, $key: --primary-600),
    contrast: (
        50: map-get($map: $bper-palette, $key: --black),
        100: map-get($map: $bper-palette, $key: --black),
        200: map-get($map: $bper-palette, $key: --black),
        300: map-get($map: $bper-palette, $key: --black),
        400: map-get($map: $bper-palette, $key: --white),
        500: map-get($map: $bper-palette, $key: --white),
        600: map-get($map: $bper-palette, $key: --white),
        700: map-get($map: $bper-palette, $key: --white),
        800: map-get($map: $bper-palette, $key: --white),
        900: map-get($map: $bper-palette, $key: --white),
    )
);
$bper-accent: map-get($map: $bper-palette, $key: accent);
$mat-bper-palette-accent: (
    50: map-get($map: $bper-accent, $key: --accent-20),
    100: map-get($map: $bper-accent, $key: --accent-20),
    200: map-get($map: $bper-accent, $key: --accent-30),
    300: map-get($map: $bper-accent, $key: --accent-50),
    400: map-get($map: $bper-accent, $key: --accent-60),
    500: map-get($map: $bper-accent, $key: --accent-70),
    600: map-get($map: $bper-accent, $key: --accent-90),
    700: map-get($map: $bper-accent, $key: --accent-100),
    800: map-get($map: $bper-accent, $key: --accent-100),
    900: map-get($map: $bper-accent, $key: --accent-100),
    contrast: (
        50: map-get($map: $bper-palette, $key: --black),
        100: map-get($map: $bper-palette, $key: --black),
        200: map-get($map: $bper-palette, $key: --black),
        300: map-get($map: $bper-palette, $key: --black),
        400: map-get($map: $bper-palette, $key: --black),
        500: map-get($map: $bper-palette, $key: --black),
        600: map-get($map: $bper-palette, $key: --white),
        700: map-get($map: $bper-palette, $key: --white),
        800: map-get($map: $bper-palette, $key: --white),
        900: map-get($map: $bper-palette, $key: --white),
    )
);

$palette-primary: mat-palette($mat-bper-palette-primary, 600, 300, 900);
$palette-accent:  mat-palette($mat-bper-palette-accent, 600, 300, 900);
// $palette-warning:  mat-palette($bper-palette, warning, --warning-30);

// Background palette for light themes.
// $mat-light-theme-background: (
//   status-bar: map_get($mat-grey, 300),
//   app-bar:    map_get($mat-grey, 100),
//   background: map_get($mat-grey, 50),
//   hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
//   card:       white,
//   dialog:     white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-grey, 300),
//   selected-disabled-button: map_get($mat-grey, 400),
//   disabled-button-toggle: map_get($mat-grey, 200),
//   unselected-chip: map_get($mat-grey, 300),
//   disabled-list-option: map_get($mat-grey, 200),
// );

// Foreground palette for light themes.
// $mat-light-theme-foreground: (
//   base:              black,
//   divider:           $dark-dividers,
//   dividers:          $dark-dividers,
//   disabled:          $dark-disabled-text,
//   disabled-button:   rgba(black, 0.26),
//   disabled-text:     $dark-disabled-text,
//   hint-text:         $dark-disabled-text,
//   secondary-text:    $dark-secondary-text,
//   icon:              rgba(black, 0.54),
//   icons:             rgba(black, 0.54),
//   text:              rgba(black, 0.87),
//   slider-min:        rgba(black, 0.87),
//   slider-off:        rgba(black, 0.26),
//   slider-off-active: rgba(black, 0.38),
// );
// $ark-foreground-map: (
    
// );

// $ark-background-map: (
//     // background: red,
//     // card: red,
// );

// TODO add other color
// include the custom theme components into a theme object
// $mat-light-theme-foreground: map-merge($mat-light-theme-foreground, $ark-foreground-map);
// $mat-light-theme-background: map-merge($mat-light-theme-background, $ark-background-map);

// $ark-theme: mat-light-theme($palette-primary, $palette-accent);

$typography: mat.define-legacy-typography-config();
$density: 0;
$ark-theme: mat-light-theme(
 (
  color: (
   primary: $palette-primary,
   accent: $palette-accent,
  ),
  typography: $typography,
  density: $density,
 )
);


$ark-theme-bg: map-get($ark-theme, background);
$ark-theme-fg: map-get($ark-theme, foreground);
