/** Grid breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 960px,
  lg: 1024px,
  xl: 1280px
) !default;

// FONT SIZE
$font-size-exxs: 0.58em;     // 10 px
$font-size-xxs: 0.600em;     // 10 px
$font-size-xs: 0.625em;     // 10 px
$font-size-smxs: 0.7em;      // 11 px
$font-size-sm: 0.75em;      // 12 px
$font-size-md: 0.875em;     // 14 px
$font-size-md2: 0.8em;     // 14 px

$font-size-base: 1em;       // 16 px
$font-size-lg: 1.125em;     // 18 px
$font-size-xl: 1.25em;      // 20 px
$font-size-xxl: 1.375em;    // 22 px
$font-size-xxxl: 1.5em;      //24px


/** Heading **/
$headings-margin:      ($spacer / 2) !default;
$headings-family:      inherit !default;
$headings-weight:      500 !default;
$headings-line-height: 1.2 !default;
$headings-color:       inherit !default;

$h1-font-size: 2em;
$h2-font-size: 1.5em;;
$h3-font-size: 1.17em;
$h4-font-size: 1em;
$h5-font-size: .87em;
$h6-font-size: .67em;


/***** COMPONENTS *
/** Buttons **/
// dimension
$button-xs: 16px;
$button-sm: 24px;
$button-md: 30px;
$button-lg: 50px;


$button-xs-font: 0.75em;
$button-sm-font: 1em;
$button-md-font: 1.6em;
$button-lg-font: 2em;

// z-index
$z-index-toolbar: 5000;

// Dialog
$arkDialog-spacer: .625em;
$arkDialog-icon-w: 1em;
$dialog-p: $arkDialog-spacer*2 + $arkDialog-icon-w;
// Dialog-head
$ark-head-spacer: $arkDialog-spacer; 
$ark-head-spacer-r: 0.25em;
$ark-head-icon-w: $arkDialog-icon-w;
$ark-head-p: $ark-head-spacer*2 + $ark-head-icon-w;

$ark-head-l-p: $ark-head-p;
$ark-head-r-p: $ark-head-p;