<div class="box hero">
    <img src="../../../../../../assets/bper-svg/Icon-24pt-Checkmark_Circle.svg" alt="Success">

    <div class="sub-title">
        Hai firmato correttamente il contratto.
    </div>

    <div class="description">
        A breve riceverai via email e sms le credenziali temporanee per attivare la tua nuova utenza.
    </div>
    <div class="button-wrapper">
        <button (click)="goToNextStep()" class="button__container">
            <span>Accedi</span>
        </button>
    </div>
</div>