
$palette-ubi: (
    50: #e0eaf1,
    100: #b3c9dc,
    200: #80a6c5,
    300: #4d82ad,
    400: #26679c,
    500: #004c8a,
    600: #004582,
    700: #003c77,
    800: #00336d,
    900: #00245a,
    A100: #8baeff,
    A200: #039BE5,
    A400: #2566ff,
    A700: #0c54ff, 
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ark-orange: 
    (
        50 : #fdf0e0,
        100 : #fbdab3,
        200 : #f8c280,
        300 : #f5a94d,
        400 : #f29626,
        500 : #f08400,
        600 : #ee7c00,
        700 : #ec7100,
        800 : #e96700,
        900 : #e55400,
        A100 : #ffffff,
        A200 : #ffe4d9,
        A400 : #ffc1a6,
        A700 : #ffaf8c,
        contrast: (
            50 : #000000,
            100 : #000000,
            200 : #000000,
            300 : #000000,
            400 : #000000,
            500 : #000000,
            600 : #000000,
            700 : #000000,
            800 : #000000,
            900 : #ffffff,
            A100 : #000000,
            A200 : #000000,
            A400 : #000000,
            A700 : #000000,
        )
);