@import "src/scss/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .i-container {
        margin-bottom: 10px;
        i {
            font-size: 80px;
            color: map-get($bper-palette, primary, --primary-500);
        }
    }

    h2 {
        color: map-get($bper-palette, primary, --primary-500);
        font-size: 20px;
    }

    p {
        color: map-get($bper-palette, neutral, --neutral-700);
        font-size: 16px;
        text-align: center;
    }
}

// MOBILE
// @media screen and (max-width: $bp-mobile) {

// }
