<div class="box hero" *ngIf="file">
    <img src="../../../../../../assets/bper-svg/Icon-24pt-Checkmark_Circle.svg" alt="Success">

    <div class="sub-title">
        Ottimo {{'Giulia'}}! <br>
    </div>

    <div class="description">
        Per procedere clicca su "Scarica la busta password", contiene un codice di sicurezza di 20 cifre che ti servirà
        in caso di necessità per recuperare i tuoi codici di accesso e sbloccare l'utenza
    </div>

    <div class="description">
        Conservalo in un luogo sicuro! <br> Se lo perdi dovrai rivolgerti alla tua filiale per averne uno nuovo.
    </div>

    <div style="margin-bottom: 4rem;">
        <bper-button buttonType="icon-right" order="ghost-accent" [label]="'Scarica la busta password'"
            icon="24px-download" iconSize="24px" (clickBtn)="downloadPdf()">
        </bper-button>
    </div>

    <div class="button-wrapper">
        <bper-button button-type="button" order="primary" [disabled]="!goConcludi" [label]="'Concludi'"
            (clickBtn)="goToNextStep()">
        </bper-button>
    </div>
</div>